extends base.pug


    
block content 
    h4 Change Title of Video
    form(method="POST")
        input(name="title", placeholder="video.title" , value=video.title, required)
        input(type="text", name="description" placeholder="Description" required minlength=20 value=video.description)
        input(type="text", name="hashtags" placeholder="Hashtags, separated by comma" require value=video.hashtags.join())
        input(type="submit" , value="Save")

