extends base.pug


block content 
    form(method="post") 
        input(type="email", name="email" required placeholder="email" value=loggedInUser.email)
        input(type="text", name="username",required placeholder="username" value=loggedInUser.username)
        input(type="text", name="name", required placeholder="name" value=loggedInUser.name)
        input(type="text", name="location",required placeholder="location" value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        hr
        a(href="change-password") Change Password &rarr;