extends ../layout.pug

block content
    form(method="post")
      input(type="email", name="email",placeholder="email")
      input(type="text", name="name", placeholder="name")
      input(type="password", name="password" placeholder="password")
      input(type="password", name="passwordCheck" placeholder="passwordCheck")
      input(type="submit", value="Join")